@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.GeneralHeader>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var background = Model.Value<IPublishedContent>("background") != null ? Model.Value<IPublishedContent>("background").Url() : "";
}
@if (Model.BackgroundImage != null)
{
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('@Model.BackgroundImage.Url()');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">@Model.Title</h1>
                </div>
            </div>
        </div>
    </div>
}
