@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.MapHolder>
@using ContentModels = Umbraco.Web.PublishedModels;
@{

}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5 mt-4 mb-4">
                <h2 class="font-weight-bold text-primary mb-3">@Model.Heading</h2>
                <div class="map-holder">
                    @Model.Map
                </div>
            </div>
        </div>
    </div>
</section>