@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}


<div id="navbar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
</div>


@Html.GetGridHtml(Model, "pageModule", "Bootstrap3-Fluid")
<!-- End Carousel Card -->

<footer class="footer" style="margin-top: 500px;">
    <div class="bg-light-blue pt-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12 footer__logo">
                    <img src="img/logo.svg" class="footer__logo">
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <ul class="footer-nav ">
                        <!-- /d-md-flex flex-wrap justify-content-center -->
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Globa Appretence</a></li>
                        <li><a href="">Govence</a></li>
                        <li><a href="">Media</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="" target="_blank">Careers</a></li>
                    </ul>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6 mb-align">
                                <ul class="top-nav-info">
                                    <i class="fas fa-phone mr-3" alt="icon"></i>
                                    <li>
                                        <a href="">011 219 9000</a>
                                    </li>
                                    <i class="fas fa-phone mr-3"></i>
                                    <li>
                                        <a href="">Life Health</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom bg-navy">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <ul class="footer-links">
                        <li><a href="" target="_blank">Privacy Notice</a></li>
                        <li><a href="" target="_blank">Electronic Communications Act </a></li>
                        <li><a href="" target="_blank">Promotion of Access to Information Act Manual</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-sm-12">
                    <p class="clr-white">Copyright © 2020 Life Healthcare. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
