@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ 
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
    <link href="~/css/custome.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("~/Views/Partials/_Navigation.cshtml")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("~/Views/Partials/_Footer.cshtml")
    @Html.Partial("~/Views/Partials/_FooterReferences.cshtml")
</body>
</html>